<% layout('/layouts/boilerplate') -%>

    <body>
        <style>
            #filters {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: black !important;
            }

            .filters-left {
                display: flex;
                flex-wrap: wrap;
                /* agar screen chhoti ho toh wrap ho jaye */
                align-items: center;
                gap: 5px;
            }

            .filter {
                text-align: center;
                margin-right: 2rem;
                margin-top: 2rem;
                opacity: 0.7;
            }

            .filter:hover {
                opacity: 1;
                cursor: pointer;
            }

            .filter p {
                font-size: 0.7rem;
            }

            .tax-info {
                display: none;
            }

            .tax-toggle {
                border: 1px solid black;
                border-radius: 1rem;
                height: 3.25rem;
                padding: 1rem;
                margin-left: 1rem;
                display: flex;
                align-items: center;
                margin-left: 0;
                /* left se start ho jaaye */
            }

            #filters .filter a {
                color: black;
                text-decoration: none;
            }

            #filters .filter a:hover {
                color: black;
            }

            #filters .filter a i {
                color: black;
            }



            .filter.active {
                border-bottom: 2px solid black;
                font-weight: 600;
            }
        </style>

        <div id="filters">

            <div class="filters-left">
                <div class="filter <%= category === 'Trending' ? 'active' : '' %>">
                    <a href="/listings?category=Trending">
                        <div><i class="fa-solid fa-fire"></i></div>
                        <p>Trending</p>
                    </a>
                </div>

                <div class="filter <%= category === 'Rooms' ? 'active' : '' %>">
                    <a href="/listings?category=Rooms">
                        <div><i class="fa-solid fa-bed"></i></div>
                        <p>Rooms</p>
                    </a>
                </div>

                <div class="filter <%= category === 'Iconic Cities' ? 'active' : '' %>">
                    <a href="/listings?category=Iconic%20Cities">
                        <div><i class="fa-solid fa-mountain-city"></i></div>
                        <p>Iconic Cities</p>
                    </a>
                </div>

                <div class="filter <%= category === 'Mountain' ? 'active' : '' %>">
                    <a href="/listings?category=Mountain">
                        <div><i class="fa-solid fa-mountain"></i></div>
                        <p>Mountain</p>
                    </a>
                </div>


                <div class="filter <%= category === 'Amazing Pools' ? 'active' : '' %>">
                    <a href="/listings?category=Amazing%20Pools">
                        <div><i class="fa-solid fa-person-swimming"></i></div>
                        <p>Amazing Pools</p>
                    </a>
                </div>

                <div class="filter <%= category === 'Camping' ? 'active' : '' %>">
                    <a href="/listings?category=Camping">
                        <div><i class="fa-solid fa-campground"></i></div>
                        <p>Camping</p>
                    </a>
                </div>

                <div class="filter <%= category === 'Farms' ? 'active' : '' %>">
                    <a href="/listings?category=Farms">
                        <div><i class="fa-solid fa-cow"></i></div>
                        <p>Farms</p>
                    </a>
                </div>



                <div class="filter <%= category === 'Boats' ? 'active' : '' %>">
                    <a href="/listings?category=Boats">
                        <div><i class="fa-solid fa-sailboat"></i></div>
                        <p>Boats</p>
                    </a>
                </div>


                <div class="filter <%= category === 'All' ? 'active' : '' %>">
                    <a href="/listings">
                        <div><i class="fa-solid fa-border-all"></i></div>
                        <p>All</p>
                    </a>
                </div>

            </div>

            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">
                        Display total after taxes
                    </label>
                </div>
            </div>



        </div>


        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(let listing of allListings) { %>
                <a href="/listings/<%= listing._id %>" class="listing_link">
                    <div class="card col listing-card">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image"
                            style="height: 20rem;" />

                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <%= listing.title %>
                            </p>
                            &#8377;<%= listing.price ? listing.price : 'N/A' %>/night
                                <i class="tax-info">&nbsp; &nbsp;+18% GST</i>
                        </div>
                    </div>
                </a>
                <% } %>
        </div>
    </body>

    <script>
        let taxSwitch = document.getElementById("switchCheckDefault");

        taxSwitch.addEventListener("change", () => {
            let taxInfo = document.getElementsByClassName("tax-info");

            for (let info of taxInfo) {
                info.style.display = taxSwitch.checked ? "inline" : "none";
            }
        });

    </script>