<% layout('layouts/boilerplate') -%>

    <body>
        <h3>Booking Requests</h3>

        <% if(bookings.length===0) { %>
            <p class="text-muted">No booking requests yet.</p>
            <% } %>

                <% bookings.forEach(b=> { %>
                    <div class="card mb-3 p-3">
                        <h5>
                            <%= b.listing.title %>
                        </h5>
                        <p>Guest: <%= b.guest.username %>
                        </p>
                        <p>
                            Dates:
                            <% if(b.checkIn && b.checkOut){ %>
                                <%= b.checkIn.toDateString() %> → <%= b.checkOut.toDateString() %>
                                        <% } else { %>
                                            Not specified
                                            <% } %>
                        </p>

                        <p>Status: <%= b.status %>
                        </p>

                        <% if(b.status==="pending" ) { %>
                            <form action="/bookings/<%= b._id %>/accept" method="POST" class="d-inline">
                                <button class="btn btn-success btn-sm">Accept</button>
                            </form>

                            <form action="/bookings/<%= b._id %>/reject" method="POST" class="d-inline">
                                <button class="btn btn-danger btn-sm">Reject</button>
                            </form>
                            <% } %>
                    </div>
                    <% }) %>

    </body>